html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    background-color: aqua;
    height: 60px;
}
nav a{
    color: white;
}
nav .logo{
    font-weight: bolder;
    margin-right: 650px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 1.25% auto auto;
}
nav ul li{
    font-weight: bold;
    font-size: 15px;
}
header{
    background-color: aqua;
}
